@use "colors" as *;

$shadow-bold: 0 34px 24px -20px rgba($black, .4);
$shadow-medium: 0 34px 24px -20px rgba($black, .3);
$shadow-light: 0 34px 24px -20px rgba($black, .1);
$shadow-small: 0 34px 14px -30px rgba($black, .1);
