.section {
  position: relative;

  width: 100%;

  &-inner {
    position: sticky;
  }

  &-chapter {
    display: block;

    margin-bottom: 24px;

    font-family: $font-secondary;
    font-size: fluid(12px, 14px);
    text-transform: uppercase;
  }

  &-title {
    margin-bottom: 12px;
    
    font-family: $font-primary;
    font-size: fluid(40px, 100px);

    line-height: 1;
    color: var(--body);
  }

  &-content, &-intro {
    p {
      max-width: 700px;

      font-size: fluid(18px, 22px);
    }
    
    p + p {
      margin-top: 30px;
    }
  }
}

.title {
  font-family: $font-primary;
  font-size: fluid(40px, 250px);

  line-height: 1;
  color: var(--body);
}

.subtitle {
  font-family: $font-secondary;
  font-size: fluid(40px, 60px);
}

p {
  font-family: $font-secondary;
  font-size: fluid(16px, 18px);
  line-height: 1.5;
}

%gradient {
  content: '';

  display: block;

  width: var(--width);
  height: height(2);

  background-image: linear-gradient(to top, var(--background) 10%, transparent 100%);
}