<div class="section-overlaps">
  <div class="section-inner">
    <strong class="section-chapter">Chapitre {{loop.index}}</strong>
    <h3 class="section-title">{{ section.title }}</h3>
  </div>
  <div class="section-column section-column-1">
    <div class="section-column-inner">
      <span class="section-column-circle">
        <svg viewBox="0 0 185 124" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.3689 84.605C11.0115 66.2489 26.1888 25.6737 65.7569 10.2216C105.325 -5.23046 144.629 14.0687 159.336 25.6498M8.3689 84.605C12.6522 87.2529 19.3874 90.3563 27.8877 92.7971M8.3689 84.605L4.03117 96.3943M159.336 25.6498L180.021 36.6408M159.336 25.6498C157.875 30.5409 154.885 37.4422 150.147 45.0526M96.7969 89.7058C104.723 86.6105 111.814 82.7672 118.121 78.4807M96.7969 89.7058L106.932 115.66M96.7969 89.7058C88.8707 92.8011 81.0782 94.77 73.5803 95.8745M25.1789 78.0403C35.0781 82.4004 62.247 88.2421 91.7292 76.7288C121.211 65.2155 138.093 42.1711 142.849 32.0881M150.147 45.0526L172.765 60.0389M150.147 45.0526C146.505 50.9028 141.831 57.1719 136.025 63.2691M136.025 63.2691L156.091 84.1238M136.025 63.2691C130.945 68.6031 124.999 73.8055 118.121 78.4807M118.121 78.4807L131.007 102.893M73.5803 95.8745L79.8301 118.766M73.5803 95.8745C65.4024 97.0791 57.575 97.2554 50.307 96.7434M50.307 96.7434L49.8445 119.259M50.307 96.7434C41.999 96.1581 34.4219 94.6734 27.8877 92.7971M27.8877 92.7971L23.7335 109.639"
            stroke="white" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </span>
    </div>
  </div>
</div>
{% if section.content %}<div class="section-content">{{ section.content }}</div>{% endif %}