<div class="section-inner">
  <strong class="section-chapter">Chapitre {{loop.index}}</strong>
  <h3 class="section-title">{{ section.title }}</h3>
</div>
{% if section.content %}<div class="section-content">{{ section.content }}</div>{% endif %}
<div class="section-column section-column-1">
  <div class="section-column-inner">
    <span class="section-column-circle">
      <svg viewBox="0 0 197 200" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M27.1222 183.464L32.1852 118.206M27.1222 183.464L171.099 195.682M27.1222 183.464L75.7134 144.956M32.1852 118.206L75.7134 144.956M32.1852 118.206L79.7968 80.4742M127.408 42.7422L192.881 52.1011M127.408 42.7422L79.7968 80.4742M127.408 42.7422L136.718 73.0049M192.881 52.1011L171.099 195.682M192.881 52.1011L145.073 89.9883M171.099 195.682L145.073 89.9883M171.099 195.682L90.3534 153.769M75.7134 144.956L79.7968 80.4742M75.7134 144.956L145.073 89.9883M79.7968 80.4742L145.073 89.9883M4.99688 70.2135L39.7483 86.6935M87.6804 4.68724L95.0012 42.9058M29.4875 16.9921L66.1326 63.2321"
          stroke="white" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

    </span>
  </div>
</div>
<div class="section-column section-column-2">
  <div class="section-column-inner">
    <span class="section-column-circle">
      <svg width="115" height="120" viewBox="0 0 115 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M3.99994 98.1751L92.2891 115.64M22.6292 4L34.5716 6.3624M34.5716 6.3624C33.2142 21.8135 36.0013 53.8041 58.0096 58.1577C80.0179 62.5112 94.7749 33.9911 99.4023 19.1869M34.5716 6.3624L99.4023 19.1869M99.4023 19.1869L110.918 21.4649M14.8761 100.327C20.5533 84.6968 37.0259 54.4496 57.4988 58.4994C77.9716 62.5492 82.9671 97.0431 82.9057 113.784"
          stroke="white" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" />
      </svg>

    </span>
  </div>
</div>